body {
  padding: 0;
  text-align: center;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.logo-img{
  width: 100px;
}

.instruction > h2 {
  text-decoration: underline;
} 

.instruction > ul {
  list-style-type: none;
  font-size: 30px;
} 

.instruction > p {

  font-size: 40px;
  color: blue;
}

#game-over-score{
  display: none;
  justify-content: center;
}

#game-status
{
  display: none;
  font-size: 30px;
  font-family: "Verdana";
  color: green;
  
}

#game-status > h5{
  margin-left: 30px;
  margin-bottom: -5px;
  margin-top: -5px;
}

#game-board {
  display: none;
  align-items: center;
  flex-wrap: wrap;
}

#canvas{
  width: 100%;
  height: 500px;
  border: solid 3px green;
  border-radius: 30px;
}

.game-intro {
  display: flex;
  justify-content: center;  
}

.game-intro > button{
  margin-left: 20px;
  font-size: 25px;
  background-color: green;
  color: #fff;
  padding: 10px 30px;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.audio{
  display: none;
}

#game-over{
  display: none;
  justify-content: center;
  
}


#start-button{
  background-color: green
}

#restart-button, #end-button {
  background-color: skyblue;
}


